* {
    margin: 0px;
    padding: 0px;
}

body {
    font-family: 'Roboto', sans-serif;
    background-color: #ebebeb;
}

header {
    background-color: #EAC926;
}

#logo {
    width: 50%;
    margin-left: auto;
}

.comprá {
    text-align: center;
}

ul li {
    list-style: none;
    font-size: 'Roboto', sans-serif;
}

ul li a {
    color: #03264C;
    text-decoration: none;
}

.burger-menu {
    background-color: #1259c3;
    color:#ebebeb;
    display: inline-block;
    left: 50%;
    padding: 8px;
    text-align: center;
    margin-left: 50%;
    margin-bottom: 15px;
    border-radius: 5px;
    box-sizing: border-box;
}

section.banner img{
    width: 100%;
}

main {
    width: 90%;
    margin: auto;
    text-align: center;
}

main section article {
    background-color: #fff;
    margin-bottom: 10px;
}

article div.informacion {
    width: 100%;
    border-top: solid 1px #ebebeb;
    padding: 15px;
}

.precios {
    font-size: 18px;
}

.titulares {
    font-size: 24px;
}

.descuentos {
    font-size: 16px;
}

main section article i,
.descuentos {
    color: #39b54a;
}

footer {
    text-align: center;
}

footer section article i {
    color: #1259c3;
    font-size: 40px;
}


@media (max-width: 361px) {
    header nav {
        display:none;
    }

    article div.informacion {
        display: none;
    }
}

@media (min-width: 769px) {
    main section article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .burger-menu {
        display: none;
    }
}